In [1]:
import pandas as pd
import os

讀取過濾後資料

In [11]:
time = 1
for filename in os.listdir(f"./過濾後資料"):
    data=pd.read_csv(f'./過濾後資料/{filename}')
    data = data[data.columns.drop(list(data.filter(regex='Unnamed')))]
    data.drop_duplicates(inplace=True)
    data.to_csv(f"./五病房_{time}.csv",encoding='utf_8_sig') 
    time = time + 1

In [12]:
len(data)

6177

In [13]:
data

       sickroom        date
0        D1506   2021-11-05
1        D1506   2021-11-04
4        D1506   2021-11-07
5        D1506   2021-11-06
6        D1506   2021-11-08
...         ...         ...
137327   D15263  2021-11-11
137349   D15263  2021-07-12
137575   D15263  2021-12-17
138618   D15253  2021-08-27
138679   D1501   2021-07-18

[6177 rows x 2 columns]