引用

In [1]:
import pandas as pd
import os
from collections import Counter

讀取資料

In [2]:
total_data=pd.read_excel(f"./病房人數.xlsx" ,sheet_name ="開刀資料")
total_data

            手術日期  護理站  成本中心  人數
0     2018-01-02  D15  DLN5   1
1     2018-01-03  D15  DLN5   6
2     2018-01-04  D15  DLN5   6
3     2018-01-05  D15  DLN5   4
4     2018-01-06  D15  DLN5   2
...          ...  ...   ...  ..
3041  2019-09-27  D22  DLN2   1
3042  2020-03-06  D23  DLN3   1
3043  2020-04-16  D23  DLN3   1
3044  2020-08-04  D23  DLN3   1
3045  2022-11-10  D23  DLN3   1

[3046 rows x 4 columns]

In [3]:
# 依照護理站分群
count_class = Counter(total_data["成本中心"])
count_class = count_class.keys()
# 將資料分組
group = total_data.groupby(['成本中心'])
for type in group.groups.keys():
    print(type)

DLI1
DLN2
DLN3
DLN5
DLN6
DLN8
DLRI

In [4]:
def take_data(data,n_day):
    data_copy = data.copy()
    # 總共要提取幾次
    for num in range(n_day, len(data_copy),1):
#         每次提取n筆
        for time in range(1,n_day+1,1):
            before_day = data_copy.loc[num-time:num-time,"該週總人數"]
            print(before_day)
#             print(type(before_day))
            data_copy.loc[num:num,f'前{time}週人數'] = before_day.values[0]

    return data_copy

五病房資料

In [5]:
room5 = total_data[total_data['成本中心'] == 'DLN5'] 
room5
# 先計算每週總人數、平均人數、最多人數
room5['手術日期'] =  pd.to_datetime(room5['手術日期'])
room5['週'] = room5['手術日期'].dt.isocalendar().week
room5['年'] = room5['手術日期'].dt.isocalendar().year
room5['開刀總人數'] = 0
# 先移除第53週
room5 = room5.drop(room5[room5['週'] == 53].index).reset_index(drop=True)
print()
# 計算一週總人數
for year in range(0,6,1):
    for num in range(1, 53,1):
        temp = room5[(room5['年'] == 2018+year) & (room5['週'] == num)]
        if (year == 4) & (num == 5):
            temp = room5.head(1)
            temp['年']  = 2022.
            temp['週'] = 5
            temp['人數'] = 0
            room5 = room5.append(temp)
        people_sum = temp['人數'].sum()
        people_max = temp['人數'].max()
        room5.loc[(room5['年'] == 2018+year) & (room5['週'] == num),'開刀總人數'] = people_sum
        room5.loc[(room5['年'] == 2018+year) & (room5['週'] == num),'開刀最多人'] = people_max
# 按照年、週排序
room5 = room5.sort_values(['年', '週'], ascending=True)
            
columns = ['週','年']     
room5.drop_duplicates(subset=columns, keep='last', inplace=True)
room5 = room5.reset_index(drop=True)

for num in range(1,len(room5),1):
        before_day = room5.loc[num-1:num-1,"開刀總人數"]
        before_day_max = room5.loc[num-1:num-1,"開刀最多人"]
        print(before_day)
#             print(type(before_day))
        room5.loc[num:num,f'前{1}週開刀人數'] = before_day.values[0]
        room5.loc[num:num,f'前{1}週開刀最多人'] = before_day_max.values[0]

# 計算前一週病人平均數

for year in range(0,6,1):
    for num in range(1, 53,1):
        temp = room5[(room5['年'] == 2018+year) & (room5['週'] == num)]
        people_avg = (temp['前1週開刀人數'].values[0]/7).round(decimals = 2)
        room5.loc[(room5['年'] == 2018+year) & (room5['週'] == num),'前1週開刀平均人數'] = people_avg

C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  room5['手術日期'] =  pd.to_datetime(room5['手術日期'])
C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  room5['週'] = room5['手術日期'].dt.isocalendar().week
C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  room5['年'] = room5['手術日期'].dt.isocalendar().year
C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  room5['開刀總人數'] = 0
C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['年']  = 2022.
C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['週'] = 5
C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['人數'] = 0
C:\Users\IDSL\AppData\Local\Temp\ipykernel_15868\3205276225.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  room5 = room5.append(temp)

0    19
Name: 開刀總人數, dtype: int64
1    31
Name: 開刀總人數, dtype: int64
2    34
Name: 開刀總人數, dtype: int64
3    29
Name: 開刀總人數, dtype: int64
4    27
Name: 開刀總人數, dtype: int64
5    23
Name: 開刀總人數, dtype: int64
6    22
Name: 開刀總人數, dtype: int64
7    14
Name: 開刀總人數, dtype: int64
8    38
Name: 開刀總人數, dtype: int64
9    32
Name: 開刀總人數, dtype: int64
10    35
Name: 開刀總人數, dtype: int64
11    27
Name: 開刀總人數, dtype: int64
12    34
Name: 開刀總人數, dtype: int64
13    24
Name: 開刀總人數, dtype: int64
14    43
Name: 開刀總人數, dtype: int64
15    32
Name: 開刀總人數, dtype: int64
16    26
Name: 開刀總人數, dtype: int64
17    35
Name: 開刀總人數, dtype: int64
18    26
Name: 開刀總人數, dtype: int64
19    34
Name: 開刀總人數, dtype: int64
20    33
Name: 開刀總人數, dtype: int64
21    30
Name: 開刀總人數, dtype: int64
22    29
Name: 開刀總人數, dtype: int64
23    32
Name: 開刀總人數, dtype: int64
24    24
Name: 開刀總人數, dtype: int64
25    29
Name: 開刀總人數, dtype: int64
26    47
Name: 開刀總人數, dtype: int64
27    41
Name: 開刀總人數, dtype: int64
28    28
Name: 開刀總人數, dtype: int64
29    37
Name: 開刀總人數, dtype: int64
30    35
Name: 開刀總人數, dtype: int64
31    53
Name: 開刀總人數, dtype: int64
32    30
Name: 開刀總人數, dtype: int64
33    32
Name: 開刀總人數, dtype: int64
34    31
Name: 開刀總人數, dtype: int64
35    25
Name: 開刀總人數, dtype: int64
36    31
Name: 開刀總人數, dtype: int64
37    45
Name: 開刀總人數, dtype: int64
38    39
Name: 開刀總人數, dtype: int64
39    48
Name: 開刀總人數, dtype: int64
40    30
Name: 開刀總人數, dtype: int64
41    29
Name: 開刀總人數, dtype: int64
42    29
Name: 開刀總人數, dtype: int64
43    27
Name: 開刀總人數, dtype: int64
44    29
Name: 開刀總人數, dtype: int64
45    21
Name: 開刀總人數, dtype: int64
46    21
Name: 開刀總人數, dtype: int64
47    26
Name: 開刀總人數, dtype: int64
48    31
Name: 開刀總人數, dtype: int64
49    36
Name: 開刀總人數, dtype: int64
50    34
Name: 開刀總人數, dtype: int64
51    35
Name: 開刀總人數, dtype: int64
52    25
Name: 開刀總人數, dtype: int64
53    33
Name: 開刀總人數, dtype: int64
54    31
Name: 開刀總人數, dtype: int64
55    40
Name: 開刀總人數, dtype: int64
56    20
Name: 開刀總人數, dtype: int64
57    14
Name: 開刀總人數, dtype: int64
58    32
Name: 開刀總人數, dtype: int64
59    32
Name: 開刀總人數, dtype: int64
60    32
Name: 開刀總人數, dtype: int64
61    33
Name: 開刀總人數, dtype: int64
62    39
Name: 開刀總人數, dtype: int64
63    35
Name: 開刀總人數, dtype: int64
64    34
Name: 開刀總人數, dtype: int64
65    15
Name: 開刀總人數, dtype: int64
66    29
Name: 開刀總人數, dtype: int64
67    38
Name: 開刀總人數, dtype: int64
68    36
Name: 開刀總人數, dtype: int64
69    31
Name: 開刀總人數, dtype: int64
70    33
Name: 開刀總人數, dtype: int64
71    30
Name: 開刀總人數, dtype: int64
72    32
Name: 開刀總人數, dtype: int64
73    27
Name: 開刀總人數, dtype: int64
74    34
Name: 開刀總人數, dtype: int64
75    30
Name: 開刀總人數, dtype: int64
76    33
Name: 開刀總人數, dtype: int64
77    33
Name: 開刀總人數, dtype: int64
78    39
Name: 開刀總人數, dtype: int64
79    38
Name: 開刀總人數, dtype: int64
80    32
Name: 開刀總人數, dtype: int64
81    37
Name: 開刀總人數, dtype: int64
82    30
Name: 開刀總人數, dtype: int64
83    33
Name: 開刀總人數, dtype: int64
84    27
Name: 開刀總人數, dtype: int64
85    22
Name: 開刀總人數, dtype: int64
86    26
Name: 開刀總人數, dtype: int64
87    39
Name: 開刀總人數, dtype: int64
88    28
Name: 開刀總人數, dtype: int64
89    36
Name: 開刀總人數, dtype: int64
90    29
Name: 開刀總人數, dtype: int64
91    28
Name: 開刀總人數, dtype: int64
92    38
Name: 開刀總人數, dtype: int64
93    36
Name: 開刀總人數, dtype: int64
94    37
Name: 開刀總人數, dtype: int64
95    29
Name: 開刀總人數, dtype: int64
96    33
Name: 開刀總人數, dtype: int64
97    30
Name: 開刀總人數, dtype: int64
98    37
Name: 開刀總人數, dtype: int64
99    41
Name: 開刀總人數, dtype: int64
100    39
Name: 開刀總人數, dtype: int64
101    29
Name: 開刀總人數, dtype: int64
102    39
Name: 開刀總人數, dtype: int64
103    39
Name: 開刀總人數, dtype: int64
104    29
Name: 開刀總人數, dtype: int64
105    34
Name: 開刀總人數, dtype: int64
106    35
Name: 開刀總人數, dtype: int64
107    9
Name: 開刀總人數, dtype: int64
108    4
Name: 開刀總人數, dtype: int64
109    38
Name: 開刀總人數, dtype: int64
110    42
Name: 開刀總人數, dtype: int64
111    38
Name: 開刀總人數, dtype: int64
112    32
Name: 開刀總人數, dtype: int64
113    35
Name: 開刀總人數, dtype: int64
114    32
Name: 開刀總人數, dtype: int64
115    34
Name: 開刀總人數, dtype: int64
116    18
Name: 開刀總人數, dtype: int64
117    17
Name: 開刀總人數, dtype: int64
118    26
Name: 開刀總人數, dtype: int64
119    31
Name: 開刀總人數, dtype: int64
120    19
Name: 開刀總人數, dtype: int64
121    28
Name: 開刀總人數, dtype: int64
122    25
Name: 開刀總人數, dtype: int64
123    34
Name: 開刀總人數, dtype: int64
124    38
Name: 開刀總人數, dtype: int64
125    29
Name: 開刀總人數, dtype: int64
126    35
Name: 開刀總人數, dtype: int64
127    30
Name: 開刀總人數, dtype: int64
128    40
Name: 開刀總人數, dtype: int64
129    22
Name: 開刀總人數, dtype: int64
130    44
Name: 開刀總人數, dtype: int64
131    38
Name: 開刀總人數, dtype: int64
132    40
Name: 開刀總人數, dtype: int64
133    40
Name: 開刀總人數, dtype: int64
134    40
Name: 開刀總人數, dtype: int64
135    43
Name: 開刀總人數, dtype: int64
136    49
Name: 開刀總人數, dtype: int64
137    34
Name: 開刀總人數, dtype: int64
138    24
Name: 開刀總人數, dtype: int64
139    33
Name: 開刀總人數, dtype: int64
140    27
Name: 開刀總人數, dtype: int64
141    33
Name: 開刀總人數, dtype: int64
142    48
Name: 開刀總人數, dtype: int64
143    29
Name: 開刀總人數, dtype: int64
144    41
Name: 開刀總人數, dtype: int64
145    38
Name: 開刀總人數, dtype: int64
146    40
Name: 開刀總人數, dtype: int64
147    33
Name: 開刀總人數, dtype: int64
148    37
Name: 開刀總人數, dtype: int64
149    39
Name: 開刀總人數, dtype: int64
150    44
Name: 開刀總人數, dtype: int64
151    41
Name: 開刀總人數, dtype: int64
152    33
Name: 開刀總人數, dtype: int64
153    34
Name: 開刀總人數, dtype: int64
154    39
Name: 開刀總人數, dtype: int64
155    37
Name: 開刀總人數, dtype: int64
156    42
Name: 開刀總人數, dtype: int64
157    45
Name: 開刀總人數, dtype: int64
158    32
Name: 開刀總人數, dtype: int64
159    37
Name: 開刀總人數, dtype: int64
160    29
Name: 開刀總人數, dtype: int64
161    1
Name: 開刀總人數, dtype: int64
162    17
Name: 開刀總人數, dtype: int64
163    38
Name: 開刀總人數, dtype: int64
164    33
Name: 開刀總人數, dtype: int64
165    34
Name: 開刀總人數, dtype: int64
166    34
Name: 開刀總人數, dtype: int64
167    33
Name: 開刀總人數, dtype: int64
168    29
Name: 開刀總人數, dtype: int64
169    32
Name: 開刀總人數, dtype: int64
170    38
Name: 開刀總人數, dtype: int64
171    20
Name: 開刀總人數, dtype: int64
172    41
Name: 開刀總人數, dtype: int64
173    37
Name: 開刀總人數, dtype: int64
174    28
Name: 開刀總人數, dtype: int64
175    28
Name: 開刀總人數, dtype: int64
176    23
Name: 開刀總人數, dtype: int64
177    27
Name: 開刀總人數, dtype: int64
178    27
Name: 開刀總人數, dtype: int64
179    26
Name: 開刀總人數, dtype: int64
180    25
Name: 開刀總人數, dtype: int64
181    24
Name: 開刀總人數, dtype: int64
182    34
Name: 開刀總人數, dtype: int64
183    31
Name: 開刀總人數, dtype: int64
184    37
Name: 開刀總人數, dtype: int64
185    33
Name: 開刀總人數, dtype: int64
186    37
Name: 開刀總人數, dtype: int64
187    32
Name: 開刀總人數, dtype: int64
188    40
Name: 開刀總人數, dtype: int64
189    33
Name: 開刀總人數, dtype: int64
190    37
Name: 開刀總人數, dtype: int64
191    35
Name: 開刀總人數, dtype: int64
192    38
Name: 開刀總人數, dtype: int64
193    16
Name: 開刀總人數, dtype: int64
194    37
Name: 開刀總人數, dtype: int64
195    25
Name: 開刀總人數, dtype: int64
196    25
Name: 開刀總人數, dtype: int64
197    31
Name: 開刀總人數, dtype: int64
198    37
Name: 開刀總人數, dtype: int64
199    28
Name: 開刀總人數, dtype: int64
200    38
Name: 開刀總人數, dtype: int64
201    33
Name: 開刀總人數, dtype: int64
202    36
Name: 開刀總人數, dtype: int64
203    25
Name: 開刀總人數, dtype: int64
204    26
Name: 開刀總人數, dtype: int64
205    29
Name: 開刀總人數, dtype: int64
206    33
Name: 開刀總人數, dtype: int64
207    29
Name: 開刀總人數, dtype: int64
208    33
Name: 開刀總人數, dtype: int64
209    34
Name: 開刀總人數, dtype: int64
210    28
Name: 開刀總人數, dtype: int64
211    23
Name: 開刀總人數, dtype: int64
212    0
Name: 開刀總人數, dtype: int64
213    37
Name: 開刀總人數, dtype: int64
214    40
Name: 開刀總人數, dtype: int64
215    41
Name: 開刀總人數, dtype: int64
216    37
Name: 開刀總人數, dtype: int64
217    45
Name: 開刀總人數, dtype: int64
218    42
Name: 開刀總人數, dtype: int64
219    38
Name: 開刀總人數, dtype: int64
220    33
Name: 開刀總人數, dtype: int64
221    22
Name: 開刀總人數, dtype: int64
222    35
Name: 開刀總人數, dtype: int64
223    36
Name: 開刀總人數, dtype: int64
224    38
Name: 開刀總人數, dtype: int64
225    33
Name: 開刀總人數, dtype: int64
226    31
Name: 開刀總人數, dtype: int64
227    17
Name: 開刀總人數, dtype: int64
228    29
Name: 開刀總人數, dtype: int64
229    20
Name: 開刀總人數, dtype: int64
230    15
Name: 開刀總人數, dtype: int64
231    7
Name: 開刀總人數, dtype: int64
232    12
Name: 開刀總人數, dtype: int64
233    14
Name: 開刀總人數, dtype: int64
234    14
Name: 開刀總人數, dtype: int64
235    15
Name: 開刀總人數, dtype: int64
236    24
Name: 開刀總人數, dtype: int64
237    27
Name: 開刀總人數, dtype: int64
238    30
Name: 開刀總人數, dtype: int64
239    22
Name: 開刀總人數, dtype: int64
240    35
Name: 開刀總人數, dtype: int64
241    32
Name: 開刀總人數, dtype: int64
242    36
Name: 開刀總人數, dtype: int64
243    30
Name: 開刀總人數, dtype: int64
244    36
Name: 開刀總人數, dtype: int64
245    32
Name: 開刀總人數, dtype: int64
246    39
Name: 開刀總人數, dtype: int64
247    46
Name: 開刀總人數, dtype: int64
248    39
Name: 開刀總人數, dtype: int64
249    43
Name: 開刀總人數, dtype: int64
250    41
Name: 開刀總人數, dtype: int64
251    41
Name: 開刀總人數, dtype: int64
252    44
Name: 開刀總人數, dtype: int64
253    53
Name: 開刀總人數, dtype: int64
254    46
Name: 開刀總人數, dtype: int64
255    47
Name: 開刀總人數, dtype: int64
256    42
Name: 開刀總人數, dtype: int64
257    40
Name: 開刀總人數, dtype: int64
258    33
Name: 開刀總人數, dtype: int64
259    33
Name: 開刀總人數, dtype: int64
260    39
Name: 開刀總人數, dtype: int64
261    38
Name: 開刀總人數, dtype: int64
262    22
Name: 開刀總人數, dtype: int64
263    12
Name: 開刀總人數, dtype: int64
264    39
Name: 開刀總人數, dtype: int64
265    45
Name: 開刀總人數, dtype: int64
266    44
Name: 開刀總人數, dtype: int64
267    36
Name: 開刀總人數, dtype: int64

IndexError: index 0 is out of bounds for axis 0 with size 0

In [6]:
room5.tail(60)

,手術日期,護理站,成本中心,人數,週,年,開刀總人數,開刀最多人,前1週開刀人數,前1週開刀最多人,前1週開刀平均人數
209,2022-01-16,D15,DLN5,1,2,2022.0,34,11.0,33.0,8.0,4.71
210,2022-01-21,D15,DLN5,2,3,2022.0,28,11.0,34.0,11.0,4.86
211,2022-01-27,D15,DLN5,6,4,2022.0,23,8.0,28.0,11.0,4.00
212,2018-01-02,D15,DLN5,0,5,2022.0,0,0.0,23.0,8.0,3.29
213,2022-02-13,D15,DLN5,2,6,2022.0,37,11.0,0.0,0.0,0.00
214,2022-02-20,D15,DLN5,1,7,2022.0,40,11.0,37.0,11.0,5.29
215,2022-02-27,D15,DLN5,3,8,2022.0,41,10.0,40.0,11.0,5.71
216,2022-03-06,D15,DLN5,2,9,2022.0,37,11.0,41.0,10.0,5.86
217,2022-03-13,D15,DLN5,1,10,2022.0,45,14.0,37.0,11.0,5.29
218,2022-03-20,D15,DLN5,2,11,2022.0,42,15.0,45.0,14.0,6.43
219,2022-03-27,D15,DLN5,5,12,2022.0,38,8.0,42.0,15.0,6.00
220,2022-04-02,D15,DLN5,1,13,2022.0,33,14.0,38.0,8.0,5.43
221,2022-04-10,D15,DLN5,4,14,2022.0,22,6.0,33.0,14.0,4.71
222,2022-04-15,D15,DLN5,6,15,2022.0,35,10.0,22.0,6.0,3.14
223,2022-04-24,D15,DLN5,2,16,2022.0,36,10.0,35.0,10.0,5.00
224,2022-05-01,D15,DLN5,1,17,2022.0,38,10.0,36.0,10.0,5.14
225,2022-05-06,D15,DLN5,8,18,2022.0,33,11.0,38.0,10.0,5.43
226,2022-05-14,D15,DLN5,2,19,2022.0,31,8.0,33.0,11.0,4.71
227,2022-05-20,D15,DLN5,3,20,2022.0,17,5.0,31.0,8.0,4.43
228,2022-05-28,D15,DLN5,1,21,2022.0,29,11.0,17.0,5.0,2.43
229,2022-06-05,D15,DLN5,3,22,2022.0,20,7.0,29.0,11.0,4.14
230,2022-06-10,D15,DLN5,4,23,2022.0,15,7.0,20.0,7.0,2.86
231,2022-06-17,D15,DLN5,1,24,2022.0,7,2.0,15.0,7.0,2.14
232,2022-06-24,D15,DLN5,2,25,2022.0,12,4.0,7.0,2.0,1.00
233,2022-07-02,D15,DLN5,2,26,2022.0,14,4.0,12.0,4.0,1.71
234,2022-07-10,D15,DLN5,1,27,2022.0,14,5.0,14.0,4.0,2.00
235,2022-07-17,D15,DLN5,2,28,2022.0,15,6.0,14.0,5.0,2.00
236,2022-07-24,D15,DLN5,2,29,2022.0,24,8.0,15.0,6.0,2.14
237,2022-07-30,D15,DLN5,1,30,2022.0,27,6.0,24.0,8.0,3.43
238,2022-08-07,D15,DLN5,1,31,2022.0,30,8.0,27.0,6.0,3.86
239,2022-08-14,D15,DLN5,3,32,2022.0,22,5.0,30.0,8.0,4.29
240,2022-08-21,D15,DLN5,3,33,2022.0,35,12.0,22.0,5.0,3.14
241,2022-08-28,D15,DLN5,1,34,2022.0,32,10.0,35.0,12.0,5.00
242,2022-09-04,D15,DLN5,3,35,2022.0,36,9.0,32.0,10.0,4.57
243,2022-09-11,D15,DLN5,1,36,2022.0,30,8.0,36.0,9.0,5.14
244,2022-09-18,D15,DLN5,2,37,2022.0,36,8.0,30.0,8.0,4.29
245,2022-09-25,D15,DLN5,2,38,2022.0,32,9.0,36.0,8.0,5.14
246,2022-10-02,D15,DLN5,2,39,2022.0,39,10.0,32.0,9.0,4.57
247,2022-10-09,D15,DLN5,4,40,2022.0,46,15.0,39.0,10.0,5.57
248,2022-10-15,D15,DLN5,1,41,2022.0,39,11.0,46.0,15.0,6.57
249,2022-10-23,D15,DLN5,1,42,2022.0,43,11.0,39.0,11.0,5.57
250,2022-10-30,D15,DLN5,1,43,2022.0,41,10.0,43.0,11.0,6.14
251,2022-11-06,D15,DLN5,1,44,2022.0,41,10.0,41.0,10.0,5.86
252,2022-11-13,D15,DLN5,1,45,2022.0,44,12.0,41.0,10.0,5.86
253,2022-11-20,D15,DLN5,2,46,2022.0,53,13.0,44.0,12.0,6.29
254,2022-11-27,D15,DLN5,2,47,2022.0,46,11.0,53.0,13.0,7.57
255,2022-12-04,D15,DLN5,2,48,2022.0,47,13.0,46.0,11.0,6.57
256,2022-12-11,D15,DLN5,1,49,2022.0,42,13.0,47.0,13.0,6.71
257,2022-12-18,D15,DLN5,1,50,2022.0,40,12.0,42.0,13.0,6.00
258,2022-12-25,D15,DLN5,3,51,2022.0,33,8.0,40.0,12.0,5.71
259,2023-01-01,D15,DLN5,2,52,2022.0,33,10.0,33.0,8.0,4.71
260,2023-01-08,D15,DLN5,1,1,2023.0,39,10.0,33.0,10.0,4.71
261,2023-01-15,D15,DLN5,1,2,2023.0,38,9.0,39.0,10.0,5.57
262,2023-01-19,D15,DLN5,1,3,2023.0,22,10.0,38.0,9.0,5.43
263,2023-01-28,D15,DLN5,1,4,2023.0,12,6.0,22.0,10.0,3.14
264,2023-02-04,D15,DLN5,1,5,2023.0,39,10.0,12.0,6.0,1.71
265,2023-02-11,D15,DLN5,3,6,2023.0,45,9.0,39.0,10.0,5.57
266,2023-02-19,D15,DLN5,4,7,2023.0,44,11.0,45.0,9.0,6.43
267,2023-02-26,D15,DLN5,2,8,2023.0,36,9.0,44.0,11.0,6.29
268,2023-02-27,D15,DLN5,4,9,2023.0,4,4.0,36.0,9.0,5.14

In [7]:
room5.to_csv(f'./五病房開刀人數.csv',index=False, encoding='utf_8_sig')